.markdown-code {
  margin-bottom: 20px;
  overflow: auto;
  background-color: var(--surface-02);
  border-radius: 4px;
}

.markdown-code__container {
  display: inline-flex;
  align-items: center;
  padding: 16px;
  white-space: pre;
}
